* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.main {
    height: 95vh;
    overflow-y: scroll;
    background-color: #ffc72abe;
}

.add-note {
    right: 5%;
    top: 5%;
    position: absolute;
    /* background-color: #ffac5ed9; */

    transition: all ease 0.5s;
    display: flex;
}


.hidden-add-note {
    /* display: none; */
    /* width: 0; */
    opacity: 0;
    position: absolute;
    overflow: hidden;
    transition: all ease 0.5s;
    cursor: pointer;
}

.add-note:hover {

    background-color: rgb(255, 136, 0);
}

.add-note:hover .hidden-add-note {
    /* width: 100%; */
    /* display: block; */
    position: static;
    /* padding-left: 0; */
    opacity: 1;
}

.note-area{
    width: 100vw;
}


/* textarea{
    display: none;
}

 */

.text-div{
    width: 12rem;
    height: 12rem;
    /* overflow-y: scroll; */
    overflow: hidden;

}

textarea, .text-body{
    resize: none;
    height: 100%;
    width: 100%;
    padding-top: 35px;
    font-size: 17px;
}


.text-body{
    display: none;
}


.text-menu
{
    position: absolute;
    right: 0;
    padding: 5px;
    font-size: 20px;
}

.text-menu i{
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
}


.fa-trash{
    background-color: #ff6d6d;
}

